MANAGERS = [1]
PAYUSER = 1
FORMBAR_URL = 'https://formbar.yorktechapps.com'
THIS_URL = 'http://localhost:3000'
SECRET = 'DontForgetToSetThis'
JWT_SECRET = 'UseTheSameSigningSecretAsFormbar'
PORT = 3000
ENTRYFEE = 50
